name: Go Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - name: 2024
        run: cd 2024
      - name: go mod tidy
        run: go mod tidy
      - name: go test
        run: go test ./...